<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.41" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3240.44" targetFramework="net48" />
  <package id="LibVLCSharp" version="3.9.3" targetFramework="net48" />
  <package id="LibVLCSharp.WinForms" version="3.9.3" targetFramework="net48" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.21" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="Tesseract" version="5.2.0" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net48" />
</packages>
